<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<div th:class="${hello}" th:text="${hello}">欢迎信息</div> <!-- thymeleaf的信息会替换掉原本的文本内容 -->
<div th:utext="${hello}"></div>

<hr/>

<!-- 每次遍历都会生成当前的标签 -->
<h4 th:text="${user}" th:each="user:${users}"></h4>

<hr/>

<!-- [[]]等于th:text,[()]等于th:utext,前者会转义特殊字符(写了标签也会完整显示字符,而不会产生功能),后者不会转义,注释也会解析,注释也不能有语法错误 -->
<h4>
	<span th:each="user:${users}">[[${user}]]</span>
</h4>

</body>
</html>